<a href="https://colab.research.google.com/github/ShilpaVasista/Exploratory-Data-Analytics/blob/main/Programming_Questions_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', np.nan, 'David', 'Eve', np.nan],
    'Age': [25, np.nan, np.nan, 40, 30, np.nan],
    'Score': [85, 90, np.nan, 88, 92, np.nan],
    'City': ['NY', 'LA', np.nan, 'Chicago', 'Houston', np.nan]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
print("-" * 30)

**Main Question:** Use the below code snippet as reference and write code for the following operations:

**Sub Question a:** Drop all rows that contain missing values

In [ ]:
df_dropped_rows = df.dropna()
print("DataFrame after dropping rows with missing values:")
print(df_dropped_rows)
print("-" * 30)

**Sub Question b:** Drop all columns that contain missing values

In [ ]:
df_dropped_cols = df.dropna(axis=1)
print("DataFrame after dropping columns with missing values:")
print(df_dropped_cols)
print("-" * 30)

**Sub Question c:** Add new row at the bottom of the dataset with all the values as NaN

In [ ]:
new_row = pd.Series([np.nan] * len(df.columns), index=df.columns)
df_with_nan_row = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print("DataFrame with a new NaN row at the bottom:")
print(df_with_nan_row)
print("-" * 30)

**Sub Question d:** Apply `dropna(thresh = 4)` on rows. What does it do?

In [ ]:
df_thresh_rows = df.dropna(thresh=4)
print("DataFrame after applying dropna(thresh=4) on rows:")
print(df_thresh_rows)
print("Explanation: dropna(thresh=4) keeps only the rows that have at least 4 non-missing values.")
print("-" * 30)

**Sub Question e:** Apply `dropna(thresh = 5, axis = 1)`. What does it do?

In [ ]:
df_thresh_cols = df.dropna(thresh=5, axis=1)
print("DataFrame after applying dropna(thresh=5, axis=1) on columns:")
print(df_thresh_cols)
print("Explanation: dropna(thresh=5, axis=1) keeps only the columns that have at least 5 non-missing values.")
print("-" * 30)

**Sub Question f:** Write the code to count the number of missing values in each column

In [ ]:
missing_values_per_column = df.isnull().sum()
print("Number of missing values in each column:")
print(missing_values_per_column)
print("-" * 30)

**Sub Question g:** Write the code to count total number of missing values in the entire dataframe

In [ ]:
total_missing_values = df.isnull().sum().sum()
print("Total number of missing values in the DataFrame:")
print(total_missing_values)
print("-" * 30)

**Sub Question h:** Write code to count not null values in each column

In [ ]:
not_null_values_per_column = df.notnull().sum()
print("Number of not null values in each column:")
print(not_null_values_per_column)
print("-" * 30)

**Sub Question i:** What is the average age of the individuals in the dataset?

In [ ]:
average_age = df['Age'].mean()
print(f"Average Age: {average_age}")
print("-" * 30)

**Sub Question j:** What are the unique cities present in the dataset?

In [ ]:
unique_cities = df['City'].dropna().unique()
print(f"Unique Cities: {unique_cities}")
print("-" * 30)

**Sub Question k:** How many individuals have a score greater than 88?

In [ ]:
high_scorers_count = df[df['Score'] > 88]['Name'].count()
print(f"Number of individuals with a score greater than 88: {high_scorers_count}")
print("-" * 30)

**Sub Question l:** How many people have a missing name?

In [ ]:
missing_name_count = df['Name'].isnull().sum()
print(f"Number of people with a missing name: {missing_name_count}")
print("-" * 30)