<a href="https://colab.research.google.com/github/ShilpaVasista/Exploratory-Data-Analytics/blob/main/Programming_Questions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Assume titanic.csv is already loaded into titanic_df
# For demonstration, let's create a sample DataFrame similar to Titanic
data = {'PassengerId': range(1, 11),
        'Survived': [0, 1, 1, 0, 1, 0, 1, 0, 1, 0],
        'Pclass': [3, 1, 3, 1, 2, 3, 2, 3, 1, 3],
        'Name': ['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Moran, Mr. James', 'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Nasser, Mrs. Nicholas (Adele Achem)'],
        'Sex': ['male', 'female', 'female', 'female', 'male', 'male', 'male', 'male', 'female', 'female'],
        'Age': [22.0, 38.0, 26.0, 35.0, 35.0, np.nan, 54.0, 2.0, 27.0, 14.0],
        'SibSp': [1, 1, 0, 1, 0, 0, 0, 3, 0, 0],
        'Parch': [0, 0, 0, 0, 0, 0, 0, 1, 2, 0],
        'Ticket': ['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450', '330877', '17463', '349909', '347742', '2666'],
        'Fare': [7.2500, 71.2833, 7.9250, 53.1000, 8.0500, 8.4583, 51.8625, 21.0750, 11.1333, 30.0708],
        'Cabin': [np.nan, 'C85', np.nan, 'C123', np.nan, np.nan, 'E46', np.nan, np.nan, np.nan],
        'Embarked': ['S', 'C', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'C']
       }
titanic_df = pd.DataFrame(data)

**Main Question:** Assume you have already loaded the dataset “titanic.csv” into a Pandas DataFrame named as `titanic_df`. Write python code to perform the following tasks:

**Sub Question a:** What Pandas function would you use to display the last 3 rows of the `titanic_df` DataFrame?

In [ ]:
print("Last 3 rows of the titanic_df DataFrame:")
print(titanic_df.tail(3))

**Sub Question b:** How would you display the number of missing values in each column of the `titanic_df` DataFrame?

In [ ]:
print("\nNumber of missing values in each column:")
print(titanic_df.isnull().sum())

**Sub Question c:** How to get an overview of the dataset's structure and types?

In [ ]:
print("\nOverview of the dataset's structure and types:")
titanic_df.info()

**Sub Question d:** Fill the missing values in the "Age" column with the median age, write the Pandas code to perform this imputation.

In [ ]:
median_age = titanic_df['Age'].median()
titanic_df['Age'].fillna(median_age, inplace=True)
print("\nDataFrame after filling missing 'Age' values with the median:")
print(titanic_df['Age'].head(10)) # Display first 10 ages to show imputation

**Sub Question e:** How would you select and display only the 'Name' and 'Age' columns from the first 5 rows of the `titanic_df` DataFrame?

In [ ]:
print("\n'Name' and 'Age' columns from the first 5 rows:")
print(titanic_df[['Name', 'Age']].head(5))

**Sub Question f:** How would you calculate the average fare paid by passengers?

In [ ]:
average_fare = titanic_df['Fare'].mean()
print(f"\nAverage fare paid by passengers: {average_fare:.2f}")

**Sub Question g:** How would you find the number of passengers who survived (Survived = 1) and those who did not (Survived = 0)?

In [ ]:
survival_counts = titanic_df['Survived'].value_counts()
print("\nNumber of passengers who survived and did not survive:")
print(survival_counts)

**Sub Question h:** How would you find the name of the oldest passenger?

In [ ]:
oldest_passenger_name = titanic_df.loc[titanic_df['Age'].idxmax()]['Name']
oldest_passenger_age = titanic_df['Age'].max()
print(f"\nThe name of the oldest passenger is: {oldest_passenger_name} (Age: {oldest_passenger_age})")

**Sub Question i:** How would you sort the DataFrame by 'Fare' in descending order and display the first 10 rows?

In [ ]:
sorted_by_fare = titanic_df.sort_values(by='Fare', ascending=False)
print("\nDataFrame sorted by 'Fare' in descending order (first 10 rows):")
print(sorted_by_fare.head(10))

**Sub Question j:** How do you count the number of passengers in each passenger class ('Pclass')?

In [ ]:
pclass_counts = titanic_df['Pclass'].value_counts().sort_index()
print("\nNumber of passengers in each passenger class:")
print(pclass_counts)

**Sub Question k:** How to create a new dataframe that only contains the people who survived?

In [ ]:
survived_df = titanic_df[titanic_df['Survived'] == 1]
print("\nDataFrame containing only the people who survived (first 5 rows):")
print(survived_df.head())

**Sub Question l:** How to find the average age of the people who survived?

In [ ]:
average_age_survived = titanic_df[titanic_df['Survived'] == 1]['Age'].mean()
print(f"\nAverage age of the people who survived: {average_age_survived:.2f}")

**Sub Question m:** How to find the maximum fare paid by any passenger in the 'Pclass' 1?

In [ ]:
max_fare_pclass1 = titanic_df[titanic_df['Pclass'] == 1]['Fare'].max()
print(f"\nMaximum fare paid by a passenger in Pclass 1: {max_fare_pclass1:.2f}")

**Sub Question n:** How to find all rows where the 'Gender' column is equal to 'female' and the 'Embarked' column is equal to 'C'?

In [ ]:
female_embarked_c = titanic_df[(titanic_df['Sex'] == 'female') & (titanic_df['Embarked'] == 'C')]
print("\nRows where 'Sex' is 'female' and 'Embarked' is 'C' (first 5 rows):")
print(female_embarked_c.head())

**Sub Question o:** Write a Python code snippet that creates a new column called "AgeGroup" in the `titanic_df` DataFrame, categorizing passengers into "Child" (age < 18), "Adult" (18 <= age < 60), and "Senior" (age >= 60).

In [ ]:
bins = [0, 18, 60, float('inf')]
labels = ['Child', 'Adult', 'Senior']
titanic_df['AgeGroup'] = pd.cut(titanic_df['Age'], bins=bins, labels=labels, right=False)

print("\nDataFrame with the new 'AgeGroup' column (first 10 rows) using pd.cut():")
print(titanic_df[['Age', 'AgeGroup']].head(10))